<div class="questions">
  <div class="question_answer">
    <div class="q_a question is-flex is-justify-content-center is-align-items-center notification is-danger">
      <p>J'ai un planning chargé, combien de temps prend l'installation ?</p>
    </div>
    <div class="q_a answer is-flex is-justify-content-center is-align-items-center notification is-success">
      <p>Notre équipe peut installer l'application en moin de 3h de manière autonome et la configurer</p>
    </div>
  </div>
  <div class="question_answer">
    <div class="q_a question is-flex is-justify-content-center is-align-items-center notification is-danger">
      <p>Je suis manager je n'ai pas le temps de m'occuper de toutes les lumières de l'entreprises</p>
    </div>
    <div class="q_a answer is-flex is-justify-content-center is-align-items-center notification is-success">
      <p>Avec Ecomanager vous pouvez en 2 clics éteindre tous les appareils que vous voulez</p>
    </div>
  </div>
  <div class="question_answer">
    <div class="q_a question is-flex is-justify-content-center is-align-items-center notification is-danger">
      <p>Comment puis-je savoir combien consomme les appareils encore allumés ?</p>
    </div>
    <div class="q_a answer is-flex is-justify-content-center is-align-items-center notification is-success">
      <p>L'application fournit un détail de tous les appareils allumé et de leurs consommation électrique</p>
    </div>
  </div>
  <div class="question_answer">
    <div class="q_a question is-flex is-justify-content-center is-align-items-center notification is-danger">
      <p>Quel avantage avons-nous à faire attention à notre consommation électrique ?</p>
    </div>
    <div class="q_a answer is-flex is-justify-content-center is-align-items-center notification is-success">
      <p>Nous avons mis en place un système de récompenses incluant un boost de référencement, un nom de domaine gratuit, des sponsors…</p>
    </div>
  </div>
</div>
