<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img alt="bulma-icon" src="assets/ecomanager.png">
    </a>

    <a #navbarBurger (click)="toggleBurger()" aria-expanded="false" aria-label="menu" class="navbar-burger"
       data-target="navbarBasicExample"
       role="button">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div #navbarMenu class="navbar-menu" id="navbarBasicExample">
    <div class="navbar-start">
      <a (click)="onClick('home')" class="navbar-item">
        Home
      </a>

      <a (click)="onClick('Questions')" class="navbar-item">
        Questions
      </a>

      <a (click)="onClick('demo')" class="navbar-item">
        Demo
      </a>

      <a (click)="onClick('Equipe')" class="navbar-item">
        Equipe
      </a>

      <a (click)="onClick('Partenaires')" class="navbar-item">
        Partenaires
      </a>
    </div>
  </div>
</nav>
