<section class="container is-flex is-justify-content-center is-flex-direction-column is-align-items-center">
  <section class="container has-text-centered">
    <h1 class="title is-1">EcoManager</h1>
    <h2 class="subtitle is-3">bon pour la planète, meilleur pour ma boite</h2>
  </section>
  <section class="container remaining-width">
    <figure>
      <img alt="EcoManager, bon pour la planète..." src="assets/home.jpg">
    </figure>
  </section>
</section>
<section class="container is-flex is-justify-content-center is-flex-direction-column is-align-items-center">
  <h2 class="title is-3 has-text-weight-semibold mt-6">Nous connaissons vos contraintes</h2>
  <app-questions></app-questions>
</section>
<section class="container is-flex is-justify-content-center is-flex-direction-column is-align-items-center">
  <h2 class="title is-3 has-text-weight-semibold mt-6">???</h2>
  <app-phone></app-phone>
</section>
<section
  class="container is-flex is-justify-content-center is-flex-direction-column is-align-items-center pt-6 pb-6 mt-6 mb-6">
  <h2 class="title is-3 has-text-weight-semibold mt-6">cette aventure n’est possible que grâce à nos collaborateurs</h2>
  <app-profil></app-profil>
</section>
<section
  class="container is-fullheight is-flex is-justify-content-center is-flex-direction-column is-align-items-center  pt-6 pb-6 mt-6 mb-6">
  <h2 class="title is-3 has-text-weight-semibold mt-6">Ainsi que nos partenaires</h2>
  <app-partenaires></app-partenaires>
</section>
